.rbc-calendar {
    background: #f6f7fb; /* Цвет фона страницы */
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.rbc-toolbar {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    justify-content: space-between;
}

.rbc-event {
    background-color: #1890ff; /* Цвет, соответствующий Ant Design */
    color: white;
    padding: 2px 5px;
    border-radius: 4px;
}